@font-face {
    font-family: 'Roboto-Light';
    src: url('../font/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('../font/Roboto-Italic.ttf') format('truetype');
}