/*! MediaStyle */
@import "_const";

@media (max-width: 1199px) {
    /*_________________________________________-Header-_________________________________________*/
    body header .menu .main-menu > li {
        padding-right: 3px;
        padding-left: 3px;
    }

    body header .instrument a.online {
        padding-right: 10px;
    }

    body header .info .social {
        margin-right: 30px;
    }

    body header .info .info-data .count {
        font-size: 40px;
    }

    body footer .info .logo .logo-container {
        display: none;
    }
    /*_________________________________________-SECTION-2-_________________________________________*/
    /*_________________________________________-SECTION-3-_________________________________________*/
    /*_________________________________________-SECTION-4-_________________________________________*/
    /*_________________________________________-SECTION-5-_________________________________________*/
    /*_________________________________________-SECTION-6-_________________________________________*/
    /*_________________________________________-SECTION-7-_________________________________________*/
}

@media (max-width: 991px) {
    body header .menu .collapse.navbar-collapse,
    body header .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    body header .menu .main-menu {
        margin: auto !important;
    }

    body header .menu .main-menu > li {
        float: none !important;
        display: block !important;
        width: auto !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    body header .menu ul ul li a:hover {
        color: $VlightBlue !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: $VlightBlue !important;
    }

    .nav-justified > li > a {
        margin-bottom: 0;
    }

    body header .instrument a.online div,
    body header .instrument a.region div {
        width: 0px;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    /*_________________________________________-SECTION-2-_________________________________________*/
    /*_________________________________________-SECTION-3-_________________________________________*/
    /*_________________________________________-SECTION-4-_________________________________________*/
    /*_________________________________________-SECTION-5-_________________________________________*/
    /*_________________________________________-SECTION-6-_________________________________________*/
    /*_________________________________________-SECTION-7-_________________________________________*/
    .autorize-block {
        width: 220px;
    }

    body header .info .social {
        margin-top: 30px;
        margin-right: 5px;
    }

    body header .info .social a {
        float: none;
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    body footer .info .logo .logo-container {
        display: block;
    }

    body footer .partners ul {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {


    /*_________________________________________-SECTION-2-_________________________________________*/
    /*_________________________________________-SECTION-3-_________________________________________*/
    /*_________________________________________-SECTION-4-_________________________________________*/
    /*_________________________________________-SECTION-5-_________________________________________*/
    /*_________________________________________-SECTION-6-_________________________________________*/
    /*_________________________________________-SECTION-7-_________________________________________*/

}

@media (max-width: 479px) {
    /*_________________________________________-SECTION-2-_________________________________________*/
    /*_________________________________________-SECTION-3-_________________________________________*/
    /*_________________________________________-SECTION-4-_________________________________________*/
    /*_________________________________________-SECTION-5-_________________________________________*/
    /*_________________________________________-SECTION-6-_________________________________________*/
    /*_________________________________________-SECTION-7-_________________________________________*/

}



@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        /*margin: 7.5px -15px;*/
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}
